{% extends 'posts.html' %}

{% block filters %}
{# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
<h2> Параметры поиска: </h2>
<form action="" method="get">
    {% load cache %}
    {% cache 300 post_filter %}
    {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
    {{ filterset.form.as_p }}
    {% endcache %}
    {# Добавим кнопку отправки данных формы #}
    <input type="submit" value="Найти" />
</form>
<h2> Результаты поиска: </h2>
<a href=".."> Все публикации </a>
{% endblock filters %}